---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RecentPublications from "../components/RecentPublications.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="px-0 flex flex-col gap-4 md:my-2">
        <!-- <h1 class="text-2xl md:text-5xl w-full"></h1> -->
        <p class="w-full text-justify text-base">
          synapse: 
          <br />
          junction between neurons, enabling signal transmission
          <br />
          synapomorphy:
          <br />
          trait from a common ancestor, shared by a group of descendants
        </p>
        <p class="w-full text-justify text-lg">
          Hi, I'm Patrick. I enjoy making things and thinking too much.
          See some of the stuff I've made or written below and more on the homepage.
			<br />
			<br />
			I'm an all-stack engineer, and the sole software or electrical engineer, at a small biotech startup. My time splits maybe 40/40/20 between software/electrical/mechanical. I maintain codebases in Python, Typescript+React, and embedded C++. I design and test circuits and PCBs. I CAD and print parts as needed.
			<br />
			<br />
			I received my degree in (funnily enough) mechanical engineering in April 2024. I interned at a battery tech academic lab, Masten Space Systems (RIP), and NASA.
			<a href="https://www.linkedin.com/in/patrick-synapomorphy/" class="text-blue-600 underline">See my resume here.</a>
			<br />
			<br />
			When I'm away from glowing rectangles, I like to hike, backpack, read (ok eink is still a screen), build rockets, fly FPV drones (ok that's just a normal screen), and unicycle.
			<br />
			<br />
			I'm very interested in AI, biology and biotech (especially molecular and neuroscience), paleontology and evolution.
			<br />
			<br />
			I'm technically a cyborg because I have a magnet implanted in a finger (I can feel alternating current with it from a few inches away) and an RFID + NFC chip in my hand. Both designed by
			<a href="https://dangerousthings.com/" class="text-blue-600 underline">Dangerous Things</a>.
			<br />
			<br />
          	Please reach out if you have comments/questions/ideas/just want to say hi, I'm friendly!
			<br />
			<br />
			Updated Dec 2024
        </p>
      </div>
   
	  <RecentPublications />
	      </main>
    <Footer />
  </body>
</html>

