---
import { Icon } from 'astro-iconify'

import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
import ThemeIcon from "./ThemeIcon.astro";
import HeaderLink from "./HeaderLink.astro";


---

<header class="lg:flex py-2 pt-2 px-4 sm:px-6 xl:px-0 md:pt-10 gap-5 mb-5 w-full border-b-2 border-neutral-200 dark:border-neutral-00">
  <Astronav>
    <div class="flex w-full justify-between items-end border-b lg:border-none pb-4 lg:pb-0">
      <a class="font-semibold text-xl flex gap-2 items-center group" href="/">
		<span class="relative w-5 h-5">
			<Icon 
			  name="radix-icons:eye-closed" 
			  class="w-5 h-5 absolute transition-opacity duration-200 opacity-100 group-hover:opacity-0" 
			/>
			<Icon 
			  name="radix-icons:eye-open" 
			  class="w-5 h-5 absolute transition-opacity duration-200 opacity-0 group-hover:opacity-100" 
			/>
		  </span>
		  Home</a>
		<!-- <a href="https://linkedin.com/in/pwsp" target="_blank">
			<Icon name="radix-icons:linkedin-logo" class="w-10 h-10 text-gray-600 hover:text-gray-500 dark:text-neutral-200"/>
		</a>
		<a href="https://www.github.com/pwspen" target="_blank">
			<Icon name="radix-icons:github-logo" class="w-10 h-10 text-gray-600 hover:text-gray-500 dark:text-neutral-200"/>
		</a> -->
      <div class="lg:hidden flex items-center justify-center gap-4">
        <MenuIcon class="w-4 h-4 text-gray-800 dark:text-neutral-300" />
		<ThemeIcon class="w-10" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5 gap-3 mt-3 lg:mt-0  pb-4 lg:pb-0 border-b border-neutral-400 lg:border-b-0">
        <!-- <li class="flex items-center"><a href="/about">About</a></li>
        <li class="flex items-center"><a href="/blog">Blog</a></li>
		<li class="flex items-center"><a href="/tags">Tags</a></li> -->
		
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/resume.pdf" target="_blank">Resume</HeaderLink>
		<!-- <HeaderLink href="/tags">Tags</HeaderLink> -->
		  <ThemeIcon class="w-10 h-8 hidden lg:flex" />
        <!-- <li>
			<Dropdown class="group">
			  <button class="flex items-center">
				<span> Services </span>
			  </button>
			  <DropdownItems class="relative">
				<div class="absolute top-0">
				  <ul>
					<li>Menu 1</li>
					<li>Menu 2</li>
					<li>Menu 3</li>
				  </ul>
				</div>
			  </DropdownItems>
			</Dropdown>
		  </li> -->
      </ul>
    </MenuItems>
  </Astronav>
</header>
