---
import { noteStore } from '../utils/notes';
const noteNumber = noteStore.increment();
---

<note class="note" className="sups">[{noteNumber}]</note><spa class="margin-note" data-note={noteNumber}>[{noteNumber}] <slot /></span>{" "}
{/* the spa is not a typo - I have no fuckign clue why but if it's span, an extra whitespace is inserted before the <spa component which messes everything up, astro compiler being stupid? */}
<style>
  .note {
      font-size: 0.9em;
      color: #555;
      padding-left: -1em;
    }


  .margin-note {
    position: absolute;
    right: -45%;
    width: 40%;
    font-size: 0.9em;
    color: #555;
    margin-top: 0em;
    padding-left: 1em;
    box-sizing: border-box;
  }

  @media (max-width: 1200px) {
    .margin-note {
      position: static;
      width: 100%;
      margin: 1em 0;
      padding: 1em;
      background: #f0f0f0;
      border-left: 3px solid #666;
    }
  }
</style>